h1{
    color: orange;
    margin-bottom: 50px;
    margin-left: 25px;
    margin-top: 25px;
    font-family: 'Franklin Gothic Medium';
}

img{
    margin-bottom: 50px;
    margin-left: 25px;
}